{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kanbanlearning/boardselector

    Dropdown selector for teachers to switch between boards.

    Example context (json):
    {
        "boardselector": {
            "show": true,
            "label": "Current board",
            "shortcurrentlabel": "Group A",
            "boards": [
                {
                    "id": 4,
                    "label": "Group A",
                    "url": "view.php?id=12&groupid=4",
                    "current": true
                }
            ]
        }
    }
}}
{{#boardselector.show}}
<div class="dropdown mod_kanbanlearning_boardselector">
    <button class="btn btn-outline-secondary dropdown-toggle mod_kanbanlearning_boardselector_button"
            type="button"
            data-bs-toggle="dropdown"
            data-toggle="dropdown"
            aria-expanded="false"
            title="{{boardselector.label}}"
            aria-label="{{boardselector.label}}">
        <span class="mod_kanbanlearning_boardselector_icon">{{#pix}} i/group, core, {{boardselector.label}} {{/pix}}</span>
        <span class="mod_kanbanlearning_boardselector_current">{{boardselector.shortcurrentlabel}}</span>
    </button>
    <ul class="dropdown-menu mod_kanbanlearning_boardselector_menu">
        {{#boardselector.boards}}
            <li>
                <a class="dropdown-item{{#current}} mod_kanbanlearning_boardselector_item_current{{/current}}"
                   href="{{url}}">
                    {{label}}
                </a>
            </li>
        {{/boardselector.boards}}
    </ul>
</div>
{{/boardselector.show}}
