{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kanbanlearning/column

    Template for a column in the kanbanlearning board.

    Example context (json):
    {
        "id": 1,
        "title": "To do",
        "cardcount": 1,
        "managecolumns": true,
        "locked": false,
        "autohide": false,
        "wiplimit": 0,
        "hascards": false,
        "cards": [],
        "addcard": true
    }
}}
<li class="mod_kanbanlearning_column col card{{#autohide}} mod_kanbanlearning_autohide{{/autohide}} {{#locked}}mod_kanbanlearning_locked_column{{/locked}} {{#wiplimit}}mod_kanbanlearning_column_wiplimit{{/wiplimit}}" id="mod_kanbanlearning_column-{{id}}" data-id="{{id}}">
    <div class="mod_kanbanlearning_column_header">
        <div class="mod_kanbanlearning_column_titlewrap">
            <span class="mod_kanbanlearning_column_dot"></span>
            <h5 class="mod_kanbanlearning_column_title card-title">
                <span class="inplaceeditable inplaceeditable-text"{{#managecolumns}} {{^locked}}data-inplaceeditable="1" {{/locked}}data-component="mod_kanbanlearning" data-itemtype="column" data-itemid="{{id}}"
                data-value="{{{title}}}" data-type="text"{{/managecolumns}}>
                    <a class="quickeditlink aalink"{{#managecolumns}} data-inplaceeditablelink="1"{{/managecolumns}}>
                        {{{title}}}
                    </a>
                    <span class="mod_kanbanlearning_column_lock" title="{{#str}} lock, mod_kanbanlearning {{/str}}">
                        <i class="icon fa fa-lock fa-fw" role="img" aria-label="{{#str}} lock, mod_kanbanlearning {{/str}}"></i>
                    </span>
                </span>
            </h5>
            <span class="mod_kanbanlearning_column_counter"><span class="mod_kanbanlearning_cardcount">{{cardcount}}</span></span>
        </div>
        <div class="mod_kanbanlearning_column_actions">
            {{>mod_kanbanlearning/actionmenucolumn}}
        </div>
    </div>
    <div class="mod_kanbanlearning_column_stats">
        <span class="badge badge-light mod_kanbanlearning_wipinfo"><span class="mod_kanbanlearning_wiplimit">{{wiplimit}}</span> / {{#pix}} t/user, core, {{#str}} wiplimit, mod_kanbanlearning{{/str}} {{/pix}}</span>
    </div>
    <div class="mod_kanbanlearning_hidden_actions">
        <button data-action="show_hidden" class="btn btn-icon icon-no-margin p-0">{{#pix}} i/show, core, {{#str}} showhidden, mod_kanbanlearning {{/str}} {{/pix}}</button>
        <button data-action="hide_hidden" class="btn btn-icon icon-no-margin p-0">{{#pix}} i/hide, core, {{#str}} hidehidden, mod_kanbanlearning {{/str}} {{/pix}}</button>
    </div>
    <ul class="mod_kanbanlearning_column_inner card-body p-0" data-id="{{id}}">
        <li class="mod_kanbanlearning_addcard_first">
            {{>mod_kanbanlearning/addcard}}
        </li>
        {{#hascards}}
            {{#cards}}
                {{>mod_kanbanlearning/card}}
            {{/cards}}
        {{/hascards}}
    </ul>
    <button data-action="add_card" class="btn btn-link btn-add-content mod_kanbanlearning_addcard_link{{^addcard}} hidden{{/addcard}}" data-columnid="{{id}}" data-id="0">{{#str}} addcardshort, mod_kanbanlearning {{/str}}</button>
    {{>mod_kanbanlearning/addcolumn}}
</li>

{{#js}}
{{#managecolumns}}require(['core/inplace_editable']);{{/managecolumns}}
require(['mod_kanbanlearning/column'], function(component) {
    component.init('mod_kanbanlearning_column-{{id}}');
});
{{/js}}
